.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: antiquewhite;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  padding-bottom: 150px;
}

.description p {
  position: relative;
  padding: 1rem;
  z-index: 1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bgCard {
  position: absolute;
  overflow: hidden;
  inset: 0;
  filter: blur(150px);
  width: 1745px;
}

.logo {
  position: relative;
  z-index: 1;
}

.logo:before {
  content: '';
  position: absolute;
  left: -200px;
  top: -200px;
  width: 400px;
  height: 300px;
  border-radius: 50%;
  background-color: #B8BDE4;
  filter: blur(70px);
  z-index: -1;
}

.logo:after {
  content: '';
  position: absolute;
  left: -50px;
  top: -10px;
  width: 300px;
  height: 200px;
  border-radius: 50%;
  background-color: #72DFF4;
  filter: blur(90px);
  z-index: -1;
}

